$color-beige: #ffe6e6;
$color-lightest-grey: #DCDCDC;
$color-light-grey: #aaa;
$color-dark-grey: #888888;
$color-grass-green: #3FBF3F;
$color-light-ivory: #ebebe0;
$product-hover-color-green: rgba(171, 247, 171, 1);
$product-hover-grey: rgba(179, 204, 179, 0.6);


@mixin myLink{
  text-decoration: none;
  color: black;
  margin: auto;
}

@mixin myFtLink{
  text-decoration: none;
  color: $color-dark-grey;
  text-align: center;
}
//centered text and link
@mixin centerTnL {
  text-align: center;
  margin: auto;
}



// Dropdown menu
.megamenu-li {
	position: static;
  .megamenu{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
    li {
      position: static;
    }
  }
}

// footer
// first column of footer
.footColOne {
	font-size: 1rem;
}
// rest columns of footer
.footColOther {
  ul li {
    a {
      @include myFtLink;
      &:hover {
        color: $color-light-grey;
      }
    }
    a i {
      @include myFtLink;
      &:hover {
        color: $color-light-grey;
      }
    }
  }
}

.sideImage{
  width:100%;
}

// 404 page
.ohno {
	font-size: 120px;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 150px;
	padding-left: 50px;
	color: $color-grass-green;
}
// search bar
.form-control {
	&::placeholder {
		font-size: 0.95rem;
		color: $color-light-grey;
		font-style: italic;
	}
}

//Banner
.myPoster {
  height: 400px;
	background-image: url(https://wallpaperplay.com/walls/full/5/8/d/87859.jpg);
	background-size: cover;
}

// Benefit Content
.bfContent {
  height: auto;
  i {
    font-size: 2.5em;
    color:$color-grass-green;
  }
}

//BreadCrumb
.breadcrumb {
	display: block;
	text-align: center;
	text-decoration-color: $color-light-grey;
	margin: auto;
	font-weight: 500;
	height: auto;
	width: 100%;
	background-color: $color-beige;
	li {
		a {
			@include myLink;
			&:hover {
				color: $color-light-grey;
			}
		}
		& + li {
			&:before {
				padding: 8px;
				color: black;
				content: "/\00a0";
			}
		}
	}
}


.card {
  width: 360px;
  height: 400px;
  border: none;

}


.staticCard{
 &::after {
    content: ""; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .6;
  }

}

.box-shadow{
  button{
    border: 1px solid $color-lightest-grey;
    background-color: white;
    color: black;

    &:hover{
      color: $color-light-grey;
    }
    &.static_button{
      border-radius: 25px;
      background-color: white;
      & a{
        text-decoration: none;
        color: $color-grass-green;
        &:hover {
          color: $color-dark-grey;
        }
      }
    }
  }
}

.card-columns {
  @media (min-width: 320px){
    column-count: 1;
  }
  @media (min-width: 768px){
    column-count: 3;
  }
  @media (min-width: 1280px){
    column-count: 4;
  }

}


.imgH {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgH:hover .visible {
  opacity: 0.3;

}

.imgH:hover .middle {
  opacity: 1;

}

.imgH:hover{
  background-color: $product-hover-color-green;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.heart{
  color: red;
}

.add {
  color:$color-grass-green;
}

.btn-circle-xl {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.3rem;
  &:hover{
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 12px 0px $product-hover-grey;
    -moz-box-shadow: 10px 10px 12px 0px  $product-hover-grey;
    box-shadow: 10px 10px 12px 0px  $product-hover-grey;
  }
}
