$color-beige: #ffe6e6;
$color-lightest-grey: #DCDCDC;
$color-light-grey: #aaa;
$color-dark-grey: #888888;
$color-grass-green: #3FBF3F;
$color-light-ivory: #ebebe0;
$product-hover-color-green: rgba(171, 247, 171, 1);
$product-hover-grey: rgba(179, 204, 179, 0.6);
$bfcolor:#43493F;


@mixin myLink{
  text-decoration: none;
  color: black;
  margin: auto;
}

@mixin myFtLink{
  text-decoration: none;
  color: $color-dark-grey;
  text-align: center;
}

@mixin centerTnL {
  text-align: center;
  margin: auto;
}



.navbar-collapse{
  z-index: 1000;
}



.megamenu-li {
	position: static;
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
  z-index: 1000;
}

.carousel{
  z-index: -1000;
}

.footColOne {
	font-size: 1rem;
}

.footColOther {
  ul li {
    a {
      @include myFtLink;
      &:hover {
        color: $color-light-grey;
      }
    }
    a i {
      @include myFtLink;
      &:hover {
        color: $color-light-grey;
      }
    }
  }
}

.sideImage{
  width:100%;
}


.ohno {
	font-size: 120px;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 150px;
	padding-left: 50px;
	color: $color-grass-green;
}
#404p{
  .form-control {
  	&::placeholder {
  		font-size: 0.95rem;
  		color: $color-light-grey;
  		font-style: italic;
  	}
  }
}



.myPoster {
  height: 400px;
	background-image: url(img/wallpaper.jpg);
	background-size: cover;
}


.bfContent {
  background-color: $bfcolor;
  height: auto;
  i {
    font-size: 2.5em;
    color:$color-grass-green;
  }
}


.staticCard{
 &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .6;
  }
}



.box-shadow{
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  border: none;
  .btn-group{
    align-items: center;
    margin-top: 20px;
  }
  .title{
    text-align: center;
  }
  button{
    border: 1px solid $color-lightest-grey;
    background-color: white;
    color: black;
    font-size: 16px;


    &:hover{
      color: $color-light-grey;
    }
    &.btn-light{
      border-radius: 25px;
      background-color: white;
      & a{
        text-decoration: none;
        color: $color-grass-green;
        &:hover {
          color: $color-dark-grey;
        }
      }
    }
  }
}






  @media (min-width: 320px){
    .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }

  }
  @media (min-width: 768px){
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }
  @media (min-width: 1280px){
    .card-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }






.imgH {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgH:hover .visible {
  opacity: 0.3;

}

.imgH:hover .middle {
  opacity: 1;
}

.imgH:hover{

  background-color: $product-hover-color-green;

}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.heart{
  color: red;
}

.add {
  color:$color-grass-green;
}

.btn-circle-xl {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.3rem;
  &:hover{
    border-radius: 45px;
    -webkit-box-shadow: 10px 10px 12px 0px $product-hover-grey;
    -moz-box-shadow: 10px 10px 12px 0px  $product-hover-grey;
    box-shadow: 10px 10px 12px 0px  $product-hover-grey;
  }
}




.carousel-caption {
// need to fix the small screen size
  @media (min-width: 768px){
    width: 500px;
    top: 40px;
  }
  @media (min-width: 1280px){
    width: 500px;
    top: 40px;
  }

    bottom: auto;
    p {
      padding-top: 50px;
      padding-bottom: 20px;
    }
}


#fcard {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 240px;
  border: none;

}

.dimedPoster{
  button a {
    text-decoration: none;
  }
  &::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
}







#exampleModalCenter{
  button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  label + input {
    display:block;
  }

  input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
}



.form-control{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}



#cookieModal{
  .modal-dialog {
    margin-top: 0rem;
    max-width: 100%;

    .modal-content {
      border-radius: 0rem;
    }

    .buttons {
      .btn {
        margin: 0.2rem;
      }
    }
  }
}



.cookiealert-container{
  h5{
    color: green;
  }
  a{
    color:green;
    text-decoration: none;
  }
}


.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}


.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: black;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
